@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   background-color: black;
}
.bi
{
    color: white;
    background-color: #4e4376;
    padding: 10px;
    border-radius: 50%;
}
.back
{
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fonts
{
    background: linear-gradient(90deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.links
{
    text-decoration: none;
    background-color: none;
}

/* Photo glow */
.glow{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #ccc;
    animation: glow 1s infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 10px -10px hsl(201, 96%, 60%);
    }
    to {
      box-shadow: 0 0 10px 10px #bb7cff;
    }
  }

  /* about bg */
  .about
  {
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

  